* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font: normal 16px/150% "Helvetica Neue", sans-serif;
  background: #333;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 10px;
  background: white;
  color: #333;
}

.scoreboard {
}

.scoreboard ol {
  padding: 10px;
  margin: 10px 0;
}

.scoreboard li {
  padding: 10px;
  margin: 10px 0;
  background: steelblue;
}

.scoreboard li:hover {
  transition: background .5s linear;
  background: limegreen;
}

.buttons {
  float: right;
}

.buttons button {
  margin: 0 10px;
}

.leader {
  padding: 10px;
  background: #f1f1f1;
  color: #333;
}

.leader span {
  display: block;
}
